
h1, h2 {
 text-align: center;
 font-family: 'DM Serif Display', serif;
}

ul {
  text-align: center
}
p, ul, button {
  font-family: 'Open Sans', sans-serif;
}

#Title_page {
  background-image: url("https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  background-size: cover;
  padding: 21em;
  text-align: center;
}

#Bio {
  background-color: #cccccc;
  padding: 4em;
  background-size: cover;
  width: auto;
  height: auto;
}

#Experience {
  background-color: #cc6e34;
  padding: 4em;
  background-size: cover;
}

#Contact_form {
  text-align: center;
  background-size: cover;
  padding: 4em;
}

#dateSection {
  padding: 4em;
  background-color: #cccccc;
  text-align: center;
}

#date  {
  padding: 2em;
}

#photo-gallery-section {
  text-align: center;
  background-size: cover;
  padding: 2em;
  background-color: #ecebf0;
}

ul {
  list-style: none;
}

footer {
  font-family: 'Open Sans', sans-serif;
  background-color: #cccccc;
  text-align: right;
  /* padding: 1em;*/
  padding-right: 1em;
}

a {
  color: inherit;
}

a:link {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

button {
  padding: 8px;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 1em;
  background-color: #ffe500;
  border: none;
}

nav ul{
  list-style: none;
  width: 100%
  /* float: left; */
  margin-right: 2em;
  position: inherit;
  /* background-color: white; */
}
nav li{
  display: inline;
  margin: 1em;
  padding: 1em;
  display: inline-block;
}

input {
  align-items: center;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  padding: 0.6em;
  margin: 0.3em;
}

/* input:hover {
  border-radius: 0px;
  border-bottom: 2px solid black;
} */

img {
  margin: 1em;
  height: 24em;
  width: 27em;
}

/* img:hover {
  margin: 1em;
  height: 27em;
  width: 30em;
} */

.photo-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.photo:hover {
  box-shadow: 1px 1px 10px black;
}

.logo {
  height: 3em;
  width: 3em;
}
